{% extends "base.html" %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/registration/password_reset_complete.css' %}">
{% endblock extra_head %}

{% block content %}
<div class="reset-container d-flex justify-content-center align-items-center">
  <div class="reset-card">
    <header class="reset-header">
      <svg class="icon-reset" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path fill="currentColor"
          d="M12 2a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm1 14h-2v-2h2v2zm0-4h-2V6h2v6z"/>
      </svg>
      <h2>Password Reset Successful</h2>
      <p>Your password has been updated.</p>
    </header>

    <div class="reset-body text-center">
      <a href="{% url 'accounts:patient_login' %}" class="btn-signin">
        Sign in now
      </a>
    </div>
  </div>
</div>
{% endblock content %}
